
body {
    font-family: Courier, sans-serif;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: #032541;
}

.weather_description {
    color: white;
    margin-top: 2rem;
}

.overall-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid black;
}

.col-left {
    color: purple;
    background-color: lightgreen;
}

.form {
    padding: 50px 0;
}

.form p {
    padding: 0;
    margin: 50px;
    font-weight: bold;
}
.form input {
    margin-top: 0px;
    padding: 1rem;
    font-size: large;
}

.form button {
    background-color: purple;
    color: white;
    font-size: x-large;
}

.city-button button {
    padding: 5px;
    color: white;
    background-color: #032541;
}

.col-right {
    color: black;
    background-color: cadetblue;
}

.forecast-table {
    display: table;
}

.day-row {
    display: table-row;
    flex-flow: column nowrap;
}

.col-day {
    display: table-cell;
    width: 30%;
    text-align: center;
    color: blue;
}

.day-name {
    display: table-cell;
    font-weight: bold;
}
.col-icon {
    display: table-cell;
    width: 50%;
    text-align: center;
    color: red;
}

.day-data {
    color: red;
}

.day-data th {
    display: table-cell;
    padding-right: 10px;
    color: purple;
    text-align: right;
}

.day-data td {
    display: table-cell;
    font-weight: bold;
    color: red;
    text-align: left;
}

/*sandbox*/
.table tbody tr th  {
    display: table-cell;
    text: none;
}
/*end sandbox*/


.col-data {
    display: table-cell;
    width: 70%;
    text-align: center;
    color: chartreuse;
}

.day-weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 25px;
}
.day-icon img {
    width: 100px;
}