
body {
    font-family: Courier, sans-serif;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: #032541;
}

input {
    margin-top: 2rem;
    padding: 1rem;
}

.weather_description {
    color: white;
    margin-top: 2rem;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.col {
    flex-grow: 1;
    flex-basis: 0;

    border: 1px solid black;
}
