
body {
    font-family: Courier, sans-serif;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: #032541;
}

.weather_description {
    color: white;
    margin-top: 2rem;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid black;
}

.col-left {
    color: purple;
    background-color: lightgreen;
}

.form {
    padding: 50px 0;
}

.form p {
    padding: 0;
    margin: 0;
}
.form input {
    margin-top: 0px;
    padding: 1rem;
}

.form button {
    background-color: purple;
    color: white;
}

.city-button button {
    padding: 5px;
    color: white;
    background-color: #032541;
}

.col-right {
    color: forestgreen;
    background-color: cadetblue;
}

.forecast-table {
    display: table;
}

.day-row {
    display: table-row;
    flex-flow: column nowrap;
}

.col-day {
    display: table-cell;
    width: 30%;
    text-align: center;
    color: blue;
}

.col-icon {
    display: table-cell;
    width: 50%;
    text-align: center;
    color: red;
}

.col-data {
    display: table-cell;
    width: 70%;
    text-align: center;
    color: chartreuse;
}

.day-weather {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}
.day-icon img {
    width: 50px;
}